
@media (min-width: 320px) and (orientation: landscape) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:320px;
    
    
        
        }
   
    }

      

@media(min-width: 320px) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:320px;
    
    
        
        }
}


@media only screen and (min-width: 576px) and (orientation: landscape) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:576px;
    
    
        
        }
    }


@media(min-width: 576px) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:576px;
    
    
        
        }

}



@media only screen and (min-width: 768px) and (orientation: landscape) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:760px;
    
    
        
        }
   
}



@media (min-width: 768px) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:768px;
    
    
        
        }
}

@media (min-width: 992px) {
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:992px;  
        
        }
}

@media(min-width: 1200.98px) {
 
    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:1200px;   
        
        }

  }

@media(min-width: 1400px) {

    body {
       
        background: url(./image/fond.svg)no-repeat 50% 50%;
        background-size:1400px; 
        
        }
  }