
@media (min-width: 320px) and (orientation: landscape) {
    
    body {
       
        background-size:320px;
        }
    }

      

@media(min-width: 320px) {
 
}


@media only screen and (min-width: 576px) and (orientation: landscape) {
    body {
       
        background-size:px;
        }
    }


@media(min-width: 576px) {
    body {
       
        background-size:576px;
            
        
        }
}



@media only screen and (min-width: 768px) and (orientation: landscape) {
    

}



@media (min-width: 768px) {
    body {
       
        background-size:760px;
            
        
        }
}

@media (min-width: 992px) {
    body {
       
        background-size:990px;
            
        
        }
}

@media(min-width: 1200.98px) {
 


  }

@media(min-width: 1400px) {

   
  }