
html{
    scroll-behavior: smooth; /*Navigation douce dans la page*/
    
    background-color: rgb(156, 247, 242);
    
}

h1,h2,h3,h4,h5,h6 footer ,header{
    text-align: center;
    color: #000000;
}

h1{
    font-size: 3em;
}
.card {
    border: NONE;
    background-color:transparent;
}

body {
    background-color: transparent;
  
    
}




#dice1 
{ 
    top: 120px; 
    /* width: 50%;
    height: 50% */
}
#roll,#hold{
width: 100px;
height: 50px;
}

.btn {
	box-shadow:inset 0px 1px 0px -2px #a6827e;
	background:linear-gradient(to bottom, #a0805e 5%, #886846 100%);
	background-color:#57422b;
	border-radius:12px;
	border:4px solid #68451c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    margin: 5px;
	
	
}
.btn:hover {
	background:linear-gradient(to bottom, #57422b 5%, #856a4e 100%);
	background-color:#57422b;
    border:4px solid #68451c;

}
.btn:active {
	position:relative;
	top:1px;
}

        
.card{
    background-color: rgb(202, 50, 50);
   

  }

.elementscard img{
    width: 100%;
    height: 400px;
  }
.elementscard{
   
    text-align : center;

   

  }

  
  