@font-face 
{
font-family: "Lato";
src: url("./font/Lato-Italic.ttf");
}
html{
    scroll-behavior: smooth; /*Navigation douce dans la page*/ 
    
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    background: url(./image/fond.svg)no-repeat 50% 50%;
   
    
    }



/*-- Réglage des boutons --*/
.btn {
	box-shadow:inset 0px 1px 0px -2px #a6827e;
	background:linear-gradient(to bottom, #97441e 5%, #c96f10 100%);
	background-color:#57422b;
	border-radius:12px;
	border:4px solid #8b500c;
	display:inline-block;
	cursor:pointer;
    margin-bottom: 5px;
    margin-top: 5px;
  height: 30px;
  text-align: center;
  padding: 0px;
  font-size: 15px;

}

.btn:hover {
	background:linear-gradient(to bottom, #965c1e 5%, #6e3f0c 100%);
	background-color:#57422b;
    border:4px solid #68451c;
}

.btn:active {
	position:relative;
	top:1px;
}
.row
{
 padding-top: 2px;   
}
h1{
    width: 520px;
    height: 25px;
    text-align:center;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
 
}

#title{
    width: 520px;
    height: 20px;
    text-align:center;
    padding-right: 20px;
    margin-top: 1px;
    text-align: center;
 
}

#son{
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
 
}
#menujeu{
   text-align: center;
   height: 30px;
   margin-top: 0px;
   margin-bottom: 8px;
margin-left: 8px;

}

#P1 ,#P2 {
    width: 213px;
    height: 30px;
text-align: center;
}

#diceZone{
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 6px;
  margin-top: 5px;
}
#dice {
    width: 100%;
    height: 65px;
   
}

#imgp1{
    width: 213px;
    height: 100px;
}
#imgp2{
    width: 213px;
    height: 100px;
}

#Player1  {
    background-color: transparent;
    width: 100%;
    height: 100px;
}
#Player2  {
    background-color: transparent;
    width: 100%;
    height: 100px;
}

#egg {
    width:100px;
    height: 100px;
}

#imgegg {

    width: 100px;
    height: 50px;
    text-align: center;
}

#gfp,#gsp{
    width: 213px;
    height: 30px;
    text-align: center;
}
#btnr{
    width: 100px;
    height: 30px;
    text-align: center;
}


#rfp,#rsp{
    width: 213px;
    height: 30px;
    text-align: center;
}
#btnh{
    width: 100px;
    height: 30px;
    text-align: center;
}